* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  background-color: #f7f7f7;
  padding: 13px 60px;
}

/* container 2 */

/* logo gambar */

.navbar {
  display: flex;
  padding: 0px 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #5e5e5f;
}

.container2 {
  height: 80px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 0px 70px;
  align-items: center;
  background-color: antiquewhite;
}

.gambar img {
  width: 150px;
}
.pencarian {
  /* transform: translate(-720px); */
}
.pencarian input {
  width: 350px;
  height: 40px;
}
.produk {
  display: flex;
  gap: 30px 40px;
}

.daftar {
  display: flex;
  gap: 300px;
}
.login {
  display: flex;
  gap: 40px;
}

.container3 {
  display: flex;
  flex-direction: row;

  gap: 30px;
}

.containers4 {
  display: flex;
  gap: 20px;

  padding-left: 200px;
}
