.navbar {
  display: flex;
  padding: 10px;
  background-color: green;
}
.judul {
  color: white;
  font-weight: 700;
  font-size: larger;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.button {
  border: 1px solid white;
  padding-left: 3px;
  padding-right: 3px;
  padding: 3px;
  font-family: sans-serif;
  color: white;
}
